*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  height: 100vh;
}

.app-container {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.readme {
  align-self: flex-end;
}

.input-container {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  justify-content: space-evenly;
  position: relative;
}

.main-container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
  border-top: 1px solid #ccc;
}

.section-header {
  line-height: 0;
  font-size: 2rem;
  padding: 1rem 0;
}

.btn {
  padding: 10px 5px;
  border: none;
  font-family: monospace;
}

.btn:hover,
input[type="radio"] {
  cursor: pointer;
}

.clear-input-btn {
  background: red;
  color: white;
  font-size: 1.2rem;
  padding: 10px;

  position: absolute;
  bottom: 0;
  right: 0;
}
